<style>
    .footer {
        background-color: #007bff;
        color: yellow;
        padding: 50px;
    }

    .link {
        color: white;
        display: block;
        margin-top: 5px;
        font-weight: 600;
    }

    .link:hover {
        color: white;
        text-decoration: none;
    }
</style>

<div class="row">
    <div class="col-sm footer">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <br>
                    <span style="font-weight:900; font-size: 20px">
                        Hakkımızda
                    </span>

                    <a href="#" class="link"> Kurslar </a>
                    <a href="#" class="link"> Misyon </a>
                    <a href="#" class="link"> Yaklaşım </a>
                    <a href="#" class="link"> Bize Ulaş </a>
                </div>
                <div class="col-sm">
                    <br>
                    <span style="font-weight:900; font-size: 20px">
                        Uygulamalar
                    </span>


                    <a href="#" class="link"> Android için Hokuveay </a>
                    <a href="#" class="link"> İOS için Hokuveay </a>
                </div>
                <div class="col-sm">
                    <br>
                    <span style="font-weight:900; font-size: 20px">
                        Yardım Ve Destek
                    </span>

                    <a href="#" class="link"> Hokuveay SSS </a>
                </div>
                <div class="col-sm">
                    <br>
                    <span style="font-weight:900; font-size: 20px">
                        Gizlilik ve Koşullar
                    </span>

                    <a href="/kurallar" class="link"> Topluluk Kuralları </a>
                    <a href="#" class="link"> Şartlar </a>
                    <a href="#" class="link"> Gizlilik </a>
                </div>
                <div class="col-sm">
                    <br>
                    <span style="font-weight:900; font-size: 20px">
                        Sosyal
                    </span>

                    <a href="#" class="link"> Blog </a>
                    <a href="#" class="link"> Instagram </a>
                    <a href="#" class="link"> Facebook </a>
                    <a href="#" class="link"> X </a>
                    <a href="#" class="link"> YouTube </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>