<div class="container-fluid">
    <div class="container">
        <nav class="navbar navbar-expand">      
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto" style="margin: auto;">
                    <li class="nav-item">
                        <a href="/"><img src="../../static/images/logoblue.png" draggable="false" height="50"></a>
                    </li>
                </ul>
              <ul class="navbar-nav ml-auto" style="margin: auto;">
                <li class="nav-item">
                    <a href="/register"> <button class="btn btn-primary" id="baslabutton"> Başla </button> </a>
                  </li>
              </ul>
        
            </div>
          </nav>        
    </div>
</div>

  <style>
    nav.navbar {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        margin: 0 auto;
    }
      
    #baslabutton {
        color: white;
        font-weight: 600;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 15px;
    }

    nav {
        z-index: 1000;
        background-color: #fff; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    }
  </style>