{% extends 'applayout.html' %}

{% block head %}
<title> HOKUVEAY - Alıştırmalar </title>
{% endblock head %}

{% block body %}

<style>
    .baslikk {
        font-weight: 600;
        font-size: 20px;
        display: block;
    }

    .shaz {
        background: linear-gradient(to bottom, #3498db, #9c9696);
        color: white;
        height: 200px;
        text-align: center;
        padding: 20px;
        border-radius: 20px;
    }

    .alistirma {
        background-color: #ffff;
        color: black;
        border: 1px solid #e5e5e5;
        border-radius: 10px;
        padding: 15px;
    }

    .alistirma:hover {
        background-color: #e5e5e5;
        transition: 0.5s;
    }

    .daralt {
        width: 450px;
        margin: auto;
    }

    @media only screen and (max-width: 1000px) {
        .daralt {
            width: 100%;
        }
    }
</style>
<div id="main">
    <div class="daralt">
        <div class="shaz">
            <span class="baslikk"> Alıştırmalarla Geliş </span> <br>
            <span class="metin"> Biraz alıştırma yapmaya ne dersin? Hemen başla! </span> <br><br>
            <button class="btn" style="background-color: white;"> Karışık Egzersiz Yap </button>
        </div>
        <br>
        <span class="baslikk">
            Alıştırmalar
        </span><br>
        <li class="nav-item alistirma" style="list-style-type: none;">
            <a href="/blok-okuma" style="text-decoration: none;">
                <span class="baslikk" style="color: #434343;"> Blok Okuma </span>
                <span style="color: #787878; margin-top: 10px; display: block"> Bu alıştırma ile okuma hızını geliştir. </span>
            </a>
        </li>
        <br>
        <li class="nav-item alistirma" style="list-style-type: none;">
            <a href="/tekmiciftmi" style="text-decoration: none;">
                <span class="baslikk" style="color: #434343;"> Tek mi çift mi? </span>
                <span style="color: #787878; margin-top: 10px; display: block"> Bu alıştırma ile okuma hızını geliştir. </span>
            </a>
        </li>
        <br>
        <li class="nav-item alistirma" style="list-style-type: none;">
            <a href="/gruplama" style="text-decoration: none;">
                <span class="baslikk" style="color: #434343;"> Gruplama Çalışması  </span>
                <span style="color: #787878; margin-top: 10px; display: block"> Bu alıştırma ile okuma hızını geliştir. </span>
            </a>
        </li>
        <br>
        <li class="nav-item alistirma" style="list-style-type: none;">
            <a href="/takistoskop" style="text-decoration: none;">
                <span class="baslikk" style="color: #434343;"> Takistoskop Çalışması </span>
                <span style="color: #787878; margin-top: 10px; display: block"> Bu alıştırma ile okuma hızını geliştir. </span>
            </a>
        </li>
    </div>
</div>
<br><br><br><br><br>
{% endblock body %}