{% extends 'layout.html' %}

{% block head %}
<title> HOKUVEAY - Gizlilik </title>
{% endblock head %}

{% block body %}
<div class="container" style="margin: auto;">
    <br><br><br><br><br><br><br>
    <h3><strong>GİZLİLİK POLİTİKASI</strong></h3>
    <br>
    <div>
        <h5><strong>1. Genel</strong></h5>
        Duolingo olarak kişisel bilgilerinizi önemsiyoruz, bu nedenle bu Gizlilik Politikasını, bu bilgileri nasıl
        topladığımızı, kullandığımızı ve paylaştığımızı açıklamak için hazırladık. Bu Gizlilik Politikası Duolingo
        web siteleri, mobil uygulamaları ve ilgili hizmetler (“Hizmet”) için geçerlidir. Hizmeti kullanarak,
        Duolingo'nun kişisel bilgilerinizi bu Gizlilik Politikasının şartlarına uygun olarak toplamasını,
        kullanmasını ve paylaşmasını kabul etmiş olursunuz.
        <br><br>
        Bazı Duolingo hizmetleri ek veya farklı şartlara tabidir. Örneğin, Duolingo İngilizce Testine
        kaydolduğunuzda veya Duolingo İngilizce Testine girdiğinizde aynı zamanda Duolingo İngilizce Testi için Ek
        Gizlilik Koşullarına da tabi olursunuz .
        <br><br>
        Lütfen Duolingo'nun ürün özelliklerimizi sürekli olarak test ettiğini ve geliştirdiğini unutmayın. Bu
        Gizlilik Politikasında tartışılan özelliklerden herhangi biri, tüm kullanıcılar tarafından veya tüm yargı
        bölgelerinde mevcut olmayabilir.
    </div>
    <br><br>
    <div>
        <h5><strong>2. Toladığımız bilgiler</strong></h5>
        Hizmeti kullandığınızda Duolingo sizin hakkınızda aşağıdaki kişisel bilgileri toplayabilir.
        <br><br>
        <u>A. hesap kaydı</u>
        <br><br>
        Bir Duolingo hesabına kaydolmak için bize yaşınızı ve e-posta adresinizi verebilirsiniz. Bazı ülkelerde bize
        telefon numaranızı da verebilirsiniz.
        <br><br>
        Ayrıca Google ve Facebook gibi belirli sosyal oturum açma bilgilerini kullanarak da bir Duolingo hesabına
        kaydolabilirsiniz. Duolingo'ya sosyal giriş kullanarak kaydolursanız, Duolingo sosyal giriş sağlayıcınızdan
        e-posta adresiniz ve kişileriniz de dahil olmak üzere sizin hakkınızda bilgi alabilir.
        <br><br>
        <u>Duolingo hesabınızı ve sosyal girişlerinizi Ayarlarınızdan yönetebilirsiniz .</u>
        <br><br>
        <u>B. Profil Sayfası ve Kullanıcı Tarafından Oluşturulan İçerik</u>
        <br><br>
        Duolingo hesabınıza kaydolduktan sonra sizin için bir profil sayfası oluşturulacaktır (“Profil”). Profiliniz
        adınız, kullanıcı adınız, biyografiniz ve profil resminiz gibi gönderdiğiniz bilgilerle doldurulacaktır
        (“Kullanıcı Tarafından Oluşturulan İçerik”). Yaşınız, telefon numaranız ve e-posta adresiniz genel
        Profilinize dahil edilmez ve bu Gizlilik Politikası kapsamında Kullanıcı Tarafından Oluşturulan İçerik
        olarak kabul edilmez. Diğer Duolingo kullanıcıları adınızı, kullanıcı adınızı, e-posta adresinizi veya
        telefon numaranızı kullanarak Profilinizi arayabilir.
        <br><br>
        Profiliniz aynı zamanda öğrendiğiniz diller, öğrenme istatistikleriniz ve başarılarınız gibi öğrenme
        ilerlemeniz hakkındaki bilgileri de içerecektir. Üstelik Profiliniz takipçilerinizin ve takip ettiğiniz
        diğer kullanıcıların bir listesini gösterecektir.
        <br><br>
        Varsayılan olarak Profiliniz herkese açıktır ve diğer Duolingo kullanıcıları ve İnternet'teki herkes
        tarafından görülebilir. Ayrıca, Kullanıcı Tarafından Oluşturulan İçeriğiniz herkese açık olarak görülebilir.
        Profiliniz herkese açıksa, üçüncü taraf web siteleri veya web kazıyıcılar, kamuya açık bilgilerinizi kendi
        amaçları doğrultusunda okuyabilir, toplayabilir ve kullanabilir. Ancak Profilinizi Ayarlarınızdan özel
        olarak ayarlayabilirsiniz .
        <br><br>
        Diğer kullanıcıların Profillerini tamamlayacak yorumlar gönderebilirsiniz ve diğer kullanıcılar da
        Profilinizi tamamlayacak yorumlar gönderebilir. Gönderdiğiniz tüm yorumlar, bu Gizlilik Politikası
        kapsamında Kullanıcı Tarafından Oluşturulan İçerik olarak kabul edilir. Profilinize gönderdiğiniz yorumları
        veya diğer kullanıcıların gönderdiği yorumları silebilirsiniz.
        <br><br>
        Duolingo, Topluluk Kurallarımıza uygunluğu sağlamak için Kullanıcı Tarafından Oluşturulan İçeriği
        tarayabilir veya inceleyebilir veya Kullanıcı Tarafından Oluşturulan İçeriğinizi bir üçüncü taraf içerik
        denetleme hizmet sağlayıcısıyla paylaşabilir . Duolingo, Topluluk Kurallarımızı ihlal etmesi veya başka
        herhangi bir nedenle Kullanıcı Tarafından Oluşturulan İçeriği kısıtlayabilir veya silebilir.
        <br><br>
        <u>C. Dualingo Max</u>
        <br><br>
        Duolingo Max'e abone olursanız, cevaplarınız hakkında size yapay zeka destekli geri bildirim sağlayan
        Yanıtımı Açıkla ve Duolingo Max'e metin veya sesli mesaj göndermenize olanak tanıyan Rol Oynatma dahil olmak
        üzere Yapay Zeka ("AI") özellikleriyle etkileşime girebilirsiniz. açık uçlu konuşma biçiminde bir AI sohbet
        arkadaşı.
        <br><br>
        Yapay zeka özellikleriyle etkileşim kurduğunuzda bilgileriniz, metin veya sesli yanıtlarınızın bir kopyasını
        kendi amaçları doğrultusunda saklayabilen OpenAI gibi yapay zeka tedarikçileriyle paylaşılabilir. Lütfen AI
        özelliklerini kullanırken herhangi bir kişisel veya gizli bilgi göndermeyin.
        <br><br>
        <u>D. Konuşma Zorlukları</u>
        <br><br>
        Bazı dersler Duolingo uygulamasına konuşmanızı gerektirir. Konuşmanın tanınması için sesiniz Google, Apple
        veya Amazon Web Services gibi bir üçüncü taraf sağlayıcıya gönderilebilir. Ayarlarınızdan konuşma
        zorluklarını devre dışı bırakabilir veya dersinizde konuşma zorluklarını atlayabilirsiniz.
        <br><br>
        Duolingo ayrıca derslerimizin etkinliğini anlamamıza ve ürünü geliştirmemize yardımcı olmak için konuşmanızı
        toplayıp analiz edebilir. Ayarlarınızda ürün geliştirme amacıyla sesinizi bizimle paylaşmamayı
        seçebilirsiniz . Duolingo'ya göndermeyi kabul ettiğiniz herhangi bir ses, sunucularımıza ulaştığında, sese
        kişisel bilgilerinizden hiçbir iz kalmamasını sağlamak için anonimleştirilir.
        <br><br>
        <u>e. İletişim Senkronizasyon Özelliği</u>
        <br><br>
        Duolingo'nun, Duolingo kullanan kişilerinizi bulmanızı sağlayan bir Kişi Senkronizasyonu özelliği vardır.
        Kişi Senkronizasyonu'nu kullanırsanız, aynı zamanda Duolingo kullanan kişilerinizi belirlemek amacıyla
        Duolingo uygulamasına telefonunuzda kayıtlı kişilere erişim izni vermiş olursunuz. Duolingo, kişilerinizdeki
        biriyle aynı telefon numarasına sahip bir kullanıcıyı belirlerse, bu kullanıcıyı takip etmek
        isteyebileceğiniz biri olarak önereceğiz.
        <br><br>
        Kişi Senkronizasyonu özelliğini kullanırsanız, Duolingo kişilerinizin telefon numaralarını saklamaz,
        yalnızca bunların şifrelenmiş "karmalarını" kaydeder. Bu karma, gerçek telefon numarasına alternatif bir
        koddur ve yalnızca numarayı benzersiz şekilde tanımlamak için kullanılabilir. Karma işlemi, gerçek telefon
        numarasını güvenli bir şekilde ortadan kaldırır; dolayısıyla Duolingo, kişilerinizin gerçek telefon
        numarasını tanımlamak, kişilerinizle iletişim kurmak veya bilgilerini başkalarıyla paylaşmak için karmaları
        kullanamaz. Bu karma işlemi yalnızca kişilerinizin telefon numaraları için geçerlidir, sizinki için geçerli
        değildir.
        <br><br>
        Telefon numaranızı Contact Sync aracılığıyla veya başka bir yolla (telefon numaranızı profilinize eklemek,
        kaydolmak için kullanmak veya diğer ürün özelliklerini etkinleştirmek için kullanmak gibi) Duolingo'ya
        gönderdiyseniz, sizin adınıza sahip olan diğer Duolingo kullanıcıları Kişilerindeki telefon numarası Kişi
        Senkronizasyonu'nu kullanarak Profilinizi bulabilir.
        <br><br>
        <u>F. Etkinlik Verileri</u>
        <br><br>
        Hizmeti kullandığınızda, Hizmeti kullanımınızla ilgili olarak tarayıcı ve cihaz verilerinizi, günlük
        verilerinizi ve IP adresinizi içerebilecek veriler üretebiliriz. Ayrıca Hizmetteki eğitim faaliyetlerine
        katılımınıza ilişkin veriler de üreteceğiz.
        <br><br>
        <u>G. Tüm hikaye</u>
        <br><br>
        Duolingo'yu uygulamamızda veya web sitemizde kullandığınızda, etkinliklerinizin bir kısmı FullStory adı
        verilen bir hizmet tarafından günlüğe kaydedilecektir. FullStory, etkinliğinizi yakalayıp analiz eder ve
        Duolingo deneyimini daha iyi hale getirmemize yardımcı olmak için bize etkinliğinizin verilerini ve video
        oturumunun tekrarını sağlar. FullStory kullanıcı adlarını, adları, profil resimlerini, e-posta adreslerini,
        profil konumlarını veya biyografilerini veya şifreleri kaydetmez. Bununla birlikte, FullStory kullanım
        modellerini (örn. tıklamalar, fare hareketleri, kaydırma ve yazma), teknik özellikleri (örn. tarayıcı, cihaz
        türü, işletim sistemi, vizör boyutu, komut dosyası hataları ve IP adresi), gezinmeyi (örn. ziyaret edilen
        sayfalar) kaydeder. , yönlendirenler, URL parametreleri ve oturum süresi) ve öğrenme etkinliği (örneğin,
        oturum ilerlemesi ve yanıtlar). FullStory'nin web sitesindeki devre dışı bırakma işlevini kullanarak
        FullStory etkinlik kaydını devre dışı bırakabilirsiniz . Bilinen Çocuk Kullanıcılar için FullStory devre
        dışı bırakıldı
        <br><br>
        <u>H. Kurabiye</u>
        <br><br>
        Duolingo web sitesine eriştiğinizde, çerezleri kullanarak tarayıcınızdan belirli verileri saklıyoruz. Çerez,
        kullanıcının bilgisayarında saklanan, kullanıcı hakkındaki verilere bağlı bir veri parçasıdır.
        Kullanıcıların oturum açtığını doğrulamak için oturum kimliği çerezleri kullanıyoruz. Verilerinizin çerezler
        tarafından toplanmasını istemiyorsanız çoğu tarayıcıda çerez özelliğini reddetmenize veya kabul etmenize
        olanak tanıyan basit bir prosedür vardır. Ancak çerezler, web sitesinde bulunan belirli özellikleri (örneğin
        özelleştirilmiş bilgiler) size sağlamak için gerekli olabilir. Çerezler ve bunların nasıl yönetileceği
        hakkında daha fazla bilgiyi burada bulabilirsiniz .
        <br><br>
        Duolingo'da kullanılan tüm çerezlerin bir listesini Çerez Listesi sayfamızda görebilir ve çerezlerinizi
        Gizlilik Tercih Merkezi'nde yönetebilirsiniz . Çerezlerimizin Google, Facebook, Amazon ve diğer şirketlerin
        Hedefleme Çerezlerini içerdiğini ve bu şirketlerin size kişiselleştirilmiş reklamlar sunmak için birden
        fazla web sitesindeki faaliyetlerinizi takip etmek için kullanabileceğini lütfen unutmayın.
        <br><br>
        Ben. Google Analytics
        Kullanıcıların web sitemizle nasıl etkileşim kurduğunu anlamamıza yardımcı olan bir web analiz aracı olan
        Google Analytics'i kullanıyoruz. Pek çok hizmet gibi Google Analytics de, bizim durumumuzda olduğu gibi,
        kullanıcıların sitemizi nasıl kullandıkları hakkında bilgi toplamak için kullanıldıkları kullanıcı
        etkileşimlerini izlemek için birinci taraf çerezleri kullanır. Bu bilgiler raporları derlemek ve sitemizi
        geliştirmemize yardımcı olmak için kullanılır. Bu raporlar, bireysel ziyaretçileri tanımlamadan web sitesi
        eğilimlerini açıklar. Google'ın burada bulunan tarayıcı eklentisini yükleyerek Google Analytics'ten
        çıkabilirsiniz .
        <br><br>
        <h5><strong>3. Bilgilerinizi Nasıl İşliyoruz</strong></h5>
        Duolingo, kişisel bilgilerinizi aşağıdaki yasal dayanaklara göre işleyebilir: talep ettiğiniz ürün veya
        hizmetleri sağlamak, Duolingo'nun meşru çıkarlarını desteklemek, yasal yükümlülüklere uymak ve sizin izniniz
        doğrultusunda. Duolingo kişisel bilgilerinizi özellikle aşağıdaki şekillerde işleyebilir ve paylaşabilir:
        <br><br>
        <u>A. Hizmetin sağlanması ve iyileştirilmesi</u>
        <br><br>
        Duolingo, Hizmeti sağlamak ve geliştirmek için kişisel bilgilerinizi işleyecektir. Örneğin, sağladığınız
        bilgileri Profilinizi ve öğrenme ilerlemenizi korumak, Profilinizi diğer kullanıcılara görüntülemek (gizli
        yapmadığınız sürece), öğrenme içeriğini kişiselleştirmek, hataları tespit edip düzeltmek, araştırma yapmak
        ve size müşteri hizmetleri sunmak için kullanacağız.
        <br><br>
        Duolingo, Amazon Web Hizmetleri gibi barındırma sağlayıcıları, Google gibi arama motoru sağlayıcıları,
        Crashlytics gibi analiz sağlayıcıları, ZenDesk gibi destek sağlayıcıları ve ZenDesk gibi ödeme işlemcileri
        dahil olmak üzere, Hizmeti sunmamıza veya geliştirmemize yardımcı olan üçüncü taraflarla kişisel bilgileri
        paylaşabilir. Şerit. Duolingo ayrıca bilgilerinizi yapay zeka, konuşma tanıma ve içerik denetimi gibi ürün
        özelliklerini destekleyen üçüncü taraf satıcılarla da paylaşabilir.
        <br><br>
        Bir Duolingo aboneliği kazanmak için bir promosyon kodunu kullanırsanız, Duolingo kullanımınıza ilişkin
        verileri size promosyon kodunu sağlayan kuruluşla paylaşabiliriz.
        <br><br>
        <u>B. Sizinle iletişim kuruyorum</u>
        <br><br>
        Duolingo, sağladığınız e-posta adresini veya telefon numarasını size aşağıdaki mesaj türlerini göndermek
        için kullanacaktır:
        <br><br>
        <ul>
            <li>Hizmetin çalışmasını destekleyen temel mesajlar.</li>
            <li>Öğrenme ipuçları, pratik hatırlatıcıları ve ilerleme raporları gibi Duolingo öğretme metodolojisini
                destekleyen ve öğrenmenizi güçlendiren mesajlar.</li>
            <li>Arkadaşlık istekleri ve arkadaşlarınızın Duolingo'daki ilerlemeleri hakkında bildirimler.</li>
            <li>Hizmet veya ürünlerdeki değişikliklere ilişkin duyurular.</li>
            <li>Yeni Duolingo ürünleri, hizmetleri, teklifleri veya araştırma fırsatlarının duyuruları.</li>
        </ul>
        <br><br>
        <h5><strong>4. Veri Sahibi Haklarınız</strong></h5>

        Geçerli yasaların gerektirdiği diğer haklara ek olarak, hakkınızda tuttuğumuz kişisel bilgilerle ilgili
        olarak aşağıdaki haklara da sahipsiniz:

        Hakkınızda hangi kişisel bilgileri topladığımızı bilin.
        Hakkınızda tuttuğumuz kişisel bilgilerin bir kopyasına erişin.
        Hakkınızda hangi kişisel bilgileri üçüncü taraflarla paylaştığımızı öğrenin.
        Kişisel bilgilerinizin üçüncü taraflarla paylaşılmasını devre dışı bırakın.
        Kişisel bilgilerinizi işlememize itiraz edin.
        Hassas kişisel bilgilerinizi kullanımımızı, talep ettiğiniz hizmetleri gerçekleştirmek için gerekenlerle
        sınırlamamızı talep edin.
        Veri sahibi haklarınızı kullandığınız için ayrımcılığa maruz kalmayın.
        Sizden topladığımız tüm kişisel bilgileri silmemizi talep edin.
        Hakkınızdaki yanlış kişisel bilgileri düzeltmemizi talep edin.
        Duolingo'ya sağladığınız kişisel bilgileri elektronik olarak üçüncü bir tarafa aktarılabilecek bir formatta
        dışa aktarın.
        Kişisel bilgilerinizi işlememiz için bize daha önce verdiğiniz tüm onayları geri çekin.
        Hizmetteki talimatları izleyerek Duolingo hesabınızı silin.
        Ayarlar sayfanızda bilgilerinizi güncelleyebilir veya düzeltebilir ve belirli vazgeçme haklarını
        kullanabilirsiniz . Duolingo Veri Kasasında kişisel bilgilerinize erişmeyi veya bunları silmeyi talep
        edebilirsiniz . Gizlilikle ilgili başka bir talepte bulunmak için lütfen gizlilik@duolingo.com adresine bir
        e-posta gönderin .

        Lütfen bu hakların mutlak olmadığını ve Duolingo'nun, kimliğinizi doğrulayamamamız, talebin üçüncü bir
        tarafın haklarını veya geçerli kanunları ihlal edebilecek olması gibi meşru bir neden olması durumunda veri
        sahibi haklarını kullanma taleplerini reddedebileceğini unutmayın. Talebin bir Duolingo hizmetine müdahale
        etmesi veya talep ettiğiniz bir hizmeti sunmamızı engellemesi halinde.

        Ayrıca ilgili Denetleyici Otoriteye GDPR şikayetinde bulunma hakkına da sahip olabilirsiniz. AEA Denetleyici
        Otoritelerinin bir listesini ve Birleşik Krallık Denetleyici Otoritesinin bağlantısını burada
        bulabilirsiniz.
        <br><br>
        <h5><strong>5. Veri saklama</strong></h5>

        Duolingo, hesabınız silinene kadar genellikle kişisel bilgilerinizi saklar. Ancak Duolingo, Hizmetimizi
        sağlamak, meşru çıkarlarımızı veya üçüncü tarafların meşru çıkarlarını savunmak, yasal gerekliliklere uymak,
        anlaşmazlıkları çözmek veya kendimizi savunmak, Hizmetin kötüye kullanımını veya kesintisini araştırmak veya
        anlaşmaları gerçekleştirmek için gerekli olması halinde belirli bilgileri daha uzun süre saklayabilir.
        Ayrıca anonim verileri süresiz olarak saklayabiliriz.
        <br><br>
        <h5><strong>6. Çocuk Kullanıcılar</strong></h5>

        Çocukların ekstra gizlilik korumasını hak ettiğini biliyoruz. Bu nedenle Çocuk Kullanıcılara (Amerika
        Birleşik Devletleri'nde 13 yaşın altındaki veya ülkelerindeki başka bir dijital rıza yaşının altındaki
        kullanıcılar anlamına gelir) ebeveynlerinin kontrolü elinde tuttuğundan emin olmak için farklı davranırız ve
        yalnızca Duolingo'nun çalışması için ihtiyaç duyduğumuz minimum bilgileri topluyoruz. .
        <br><br>
        Çocuk Kullanıcıların bir Duolingo hesabı oluşturmalarına izin verilir, ancak onlardan kendi e-posta
        adresleri yerine ebeveynlerinin e-posta adreslerini vermelerini ve gerçek adlarına bağlı olmayan bir
        kullanıcı adı kullanarak kaydolmalarını istiyoruz.
        <br><br>
        Bir Çocuk Kullanıcı kaydolduktan sonra, hangi kişisel bilgileri topladığımız ve bu kişisel bilgileri nasıl
        kullandığımız, paylaştığımız ve koruduğumuz da dahil olmak üzere Duolingo'nun Çocuk Kullanıcılara ilişkin
        gizlilik uygulamaları hakkında ebeveynin e-posta adresine bir e-posta göndereceğiz. E-postada ayrıca
        ebeveynlerin çocukları hakkındaki bilgilere nasıl erişmeyi, bunları değiştirmeyi veya silmeyi nasıl talep
        edebilecekleri de açıklanmaktadır.
        <br><br>
        Tüm Çocuk Kullanıcılar Duolingo'yu kullanırken aşağıdaki özel muameleye tabi tutulur (“Yaş Sınırlamaları”):
        <br><br>
        Yetişkinlere yönelik kelimeler çıkarılarak dersler yaşa uygun hale getirilir.
        Reklamlar kişiselleştirilmemiştir ve aile için güvenli içeriğe ayarlanmıştır.
        Çocuk Kullanıcılar Profillerine gerçek isimlerini veya herhangi bir resmini gönderemezler, ancak yalnızca
        önceden ayarlanmış seçeneklerden oluşturabilecekleri bir harf avatarı veya çizgi film avatarıyla temsil
        edilirler.
        <br><br>
        Kişi Senkronizasyonu özelliği devre dışı bırakılır.
        Promosyon e-postaları devre dışı bırakıldı.
        Çocuk Kullanıcıların konuşma verileri, ürün geliştirme amacıyla Duolingo ile paylaşılmaz.
        Belirli yargı bölgelerindeki (Amerika Birleşik Devletleri, Avrupa Birliği, Birleşik Krallık, Norveç, Kanada,
        Avustralya, Yeni Zelanda, Singapur, Güney Kore ve Japonya dahil) Çocuk Kullanıcılar şu ek Yaş
        Sınırlamalarına tabidir:
        <br><br>
        Çocuk Kullanıcılar, Kullanıcı Tarafından Oluşturulan İçeriği Duolingo'ya gönderemez.
        Çocuk Kullanıcılar Duolingo'ya gerçek adlarını, profil resimlerini, konumlarını, iletişim bilgilerini veya
        diğer kişisel bilgilerini sağlayamazlar.
        Çocuk Kullanıcılar, Duolingo hesaplarını iletişim bilgilerine veya diğer çevrimiçi hizmetlerdeki hesaplarına
        bağlayamazlar.
        Çocuk Kullanıcı Profilleri, çocuğu kamuya açık bir şekilde tanımlamak veya onunla iletişim kurmak için
        kullanılabilecek kişisel bilgiler içermez; yalnızca Çocuk Kullanıcının kullanıcı adını, önceden ayarlanmış
        seçeneklerden oluşturulan bir avatarı, Duolingo'daki arkadaş listesini ve Duolingo'daki öğrenme
        ilerlemelerine ilişkin bilgileri içerir.
        Çocuk Kullanıcılar ücretli Duolingo Aile Planlarına katılabilir. Bir Çocuk Kullanıcı ücretli bir Duolingo
        Aile Planına katılırsa, profili aynı Duolingo Aile Planının diğer üyeleri tarafından görülebilecektir.
        <br><br>
        Bazı Çocuk Kullanıcılar için sınırlı sosyal özellikleri etkinleştirdik. Bu özelliklerin aktif olduğu Çocuk
        Kullanıcılar, sosyal özelliklere yalnızca aşağıdaki şekilde sınırlı olarak katılabilir:
        <br><br>
        Çocuk Kullanıcılar, tam bir kullanıcı adı veya yönlendirme bağlantısı kullanarak yalnızca diğer
        kullanıcıları arayabilir veya diğer kullanıcılar tarafından aranabilir.
        Çocuk Kullanıcınız, diğer Çocuk Kullanıcıları arkadaş önerilerinde görebilir, ancak bu yalnızca diğer Çocuk
        Kullanıcının Çocuk Kullanıcınızı takip etmesi veya Çocuk Kullanıcınızla ortak takipçilerinin olması
        durumunda mümkündür. Çocuk Kullanıcılar, Çocuk Kullanıcılar olmayan arkadaş önerilerini göremeyecek veya
        onlar tarafından görülmeyecek.
        Çocuk Kullanıcıların Profilleri arkadaşlarının profillerinden görülebilecektir.
        Çocuk Kullanıcılar yalnızca ortak takipçilere konserve "Tebrik" gönderebilir veya alabilirler; kullanıcı
        tarafından yazılan mesajları gönderemez veya alamaz.
        Çocuk Kullanıcılar “Arkadaşlık Arayışı” özelliğine ortak takipçilerle katılabilirler.
        Çocuk Kullanıcınız adına diğer kullanıcıları engelleyebilir veya takibi bırakabilirsiniz.
        Çocuk Kullanıcınız için sosyal özellikleri istediğiniz zaman Ayarlar altından devre dışı bırakabilirsiniz .
        Çocuk Kullanıcılar skor tablolarına erişebilecek ancak aşağıdaki özel muameleye tabi tutulacaklardır:
        <br><br>
        Çocuk Kullanıcının kullanıcı adı, skor tablosundaki diğer tüm kullanıcılar için anonimleştirilecektir.
        Örneğin Çocuk Kullanıcı, diğer kullanıcılara gerçek kullanıcı adı yerine “John Smith” olarak görünebilir.
        Diğer skor tablosu kullanıcıları, Çocuk Kullanıcının Profilini görüntüleyemeyecek veya Çocuk Kullanıcıyı
        skor tablolarından takip edemeyecek.
        Çocuk Kullanıcılar skor tablolarında profil resimleri yerine yalnızca avatarları görecektir.
        Çocuk Kullanıcılar, lider tablolarında arındırılmış kullanıcı adlarını görecektir; Küfürlü veya müstehcen
        kelimeler içeren kullanıcı adları, Çocuk Kullanıcılar için sahte bir kullanıcı adıyla değiştirilecektir.
        Çocuk Kullanıcınız için Skor Tablolarını istediğiniz zaman çocuğunuzun Profilindeki Ayarlar bölümünden devre
        dışı bırakabilirsiniz .
        Ebeveynler çocuklarının Yaş Sınırlamalarını kaldırabilir. Ek olarak ebeveynler herhangi bir suiistimali
        suistimal@duolingo.com adresinden bize bildirebilirler .
        <br><br>
        Ayrıca 16 yaşın altındaki tüm kullanıcılara aşağıdaki özel muamele uygulanır:
        <br><br>
        Reklamlar kişiselleştirilmeyecek şekilde ayarlanmıştır.
        Üçüncü taraf davranış takibi devre dışı bırakıldı.
        Üçüncü taraf analizleri devre dışı bırakıldı.
        Çocukların Çevrimiçi Gizliliğini Koruma Yasası uyarınca Duolingo, yalnızca Hizmetin dahili işlemlerini
        gerçekleştirmek amacıyla 13 yaşın altındaki çocuklardan kişisel bilgi toplar. Bu çocuklardan bilmeden ek
        kişisel bilgiler topladığımızı tespit edersek, bunları sileceğiz. Durumun böyle olduğunu düşünüyorsanız
        lütfen bizimle gizlilik@duolingo.com adresinden iletişime geçin .
        <br><br>
        <h5><strong>7. Takip Etme</strong></h5>
        Hizmet, bazı tarayıcılar tarafından gönderilen "takip etme" sinyallerine yanıt verecek şekilde
        tasarlanmamıştır.
        <br><br>
        <h5><strong>8. Üçüncü Taraf Web Sitelerine Bağlantılar</strong></h5>
        Hizmet diğer web sitelerine bağlantılar içerebilir. Duolingo, üçüncü taraf ödeme işlemcileri tarafından
        toplanan kişisel veya finansal bilgiler de dahil olmak üzere, diğer web sitelerinin içeriğinden veya
        gizlilik uygulamalarından sorumlu değildir. Kullanıcıların ziyaret ettikleri diğer web sitelerinin gizlilik
        politikaları hakkında bilgi sahibi olmalarını öneririz. Bu Gizlilik Politikası yalnızca Duolingo tarafından
        toplanan bilgiler için geçerlidir. Bir bağlantıya tıkladığınızda (reklam bannerları dahil) veya kişisel
        bilgilerinizi bir üçüncü taraf web sitesine gönderdiğinizde, o üçüncü tarafın gizlilik politikalarına tabi
        olursunuz.
        <br><br>
        <h5><strong>Belirli Yargı Bölgelerindeki Ek Şartlar</strong></h5>
        Bazı yargı bölgelerinde Hizmet, ek gizlilik politikalarına veya yerel yasalara tabi olabilir. Bu yargı
        bölgelerindeki kullanıcılar için geçerli ek gizlilik politikaları ve yerel yasalar, çeliştikleri ölçüde bu
        Gizlilik Politikasına göre öncelikli olacaktır.
        <br><br>
        <h4><strong>Bize Ulaşın</strong></h4>
        <br>
        HOKUVEAY,lnc <br>
        Bahçeler üstü 55.sokak 11/11<br>
        Mamak/Ankara <br>
        Telefon : +00000000 - +000000
<br><br><br><br>







    </div>



</div>

<div class="container-fluid">

{% endblock body %}