{% extends 'layout.html' %}

{% block head %}
<title> HOKUVEAY - Hız Ölçme Testi </title>
{% endblock head %}

{% block body %}

<script>

</script>

<style>
    .altbaslik {
        font-size: 40px;
        font-weight: 900;
        color: #007bff;
        display: block;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm" style="margin-top: 130px; margin-bottom: -200px">
            <br><br>
            <span class="altbaslik">
                Hızınızı Ölçün
            </span>
            <br>
            <span> Haydi hızınızı ölçelim! Talimatlar: <br><br>
                <ol>
                    <li> Başlat Butonuna basın. </li>
                    <li> Butona basar basmaz metni sonuna kadar okumaya başlayın. </li>
                    <li> Okumayı bitirir bitirmez bitir butonuna tıklayın. </li>
                    <li> Aşağı kısma inin ve size söylenen şekilde okuma hızını girin. </li>
                    <li> Onayla ve devam et butonuna tıkla ve okuma hızınıza göre sistem sizi gerekli yerden
                        başlatacaktır! </li>
                </ol>
            </span>


            <br><br><br><br><br>
            <span class="altbaslik">
                Okuma Metni 
            </span> <br>
            <span id="metin">
                <p> Bir zamanlar küçük bir kasabada, adı unutulmuş eski bir kütüphane bulunmaktaydı. Kütüphane,
                    kasabanın gizemli ve keşfedilmemiş köşelerinden birinde yer alıyordu. Genç bir kız olan Elif,
                    meraklı ve maceraperest doğasıyla bu kütüphaneyi keşfetmeye karar verdi. </p>

                <p> Kütüphanenin kapısını açtığında içeriğin tozlu rafları arasında kaybolmuş eski kitaplarla dolu
                    olduğunu gördü. Ancak Elif, bir kitabın özel bir güce sahip olduğunu keşfetti. Kitap, zamanı
                    manipüle etme yeteneğine sahipti ve Elif'i geçmişe götürdü.</p>

                <p> Geçmişte, Elif farklı zaman dilimlerinde kasabanın yaşadığı olayları izledi. Görünmez bir izleyici
                    gibi, kasabanın tarihine tanıklık etti. Ancak, geçmişi değiştirmeye çalıştığında, gelecekte meydana
                    gelecek olayların nasıl etkileneceğini öğrendi. </p>

                <p> Sonunda, Elif kasabanın geleceğini korumak için geçmişteki hataları düzeltmeye karar verdi. Kitabın
                    gücünü kullanarak kasabanın kaderini değiştirdi ve insanların hayatlarına olumlu dokunuşlar yaptı.
                    Elif, kasabanın kahramanı olarak anıldı ve eski kütüphane, kasabanın ışıldayan bir hazine yuvasına
                    dönüştü. </p>

                <p> Böylece, Elif'in merakı ve cesareti, küçük kasabanın kaderini sonsuza kadar değiştirdi. </p>

            </span>

            <br><br>
            <div style="text-align: center;">
                <button class="btn btn-primary" id="baslatbutton"> Başlat </button>
                <button class="btn btn-danger" id="finishbutton"> Bitir </button>

                <span id="okumahizi" name="okumahizi"> </span>
            </div>
            <br><br>
            <form action="{{ url_for('hizolcme') }}" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1"> Okuma Hızınız: </label>
                    <input type="text" class="form-control" name="okumahizi" required>
                    <small class="form-text text-muted"> Güvenlik için yukarıda verilen okuma hızını
                        giriniz. Örn: 530, 220, 122 </small>
                </div>
                <button type="submit" class="btn btn-primary"> Onayla Ve Devam Et </button>
            </form>
        </div>
    </div>
</div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="container-fluid">



    <script>

        function sendReadingSpeedToServer(readingSpeed) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/update_speed", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.send(JSON.stringify({ "reading_speed": readingSpeed }));
        }

        let metin = document.querySelector("#metin");
        let baslatbutton = document.querySelector("#baslatbutton");
        let finishbutton = document.querySelector("#finishbutton");
        let okumahizi = document.querySelector("#okumahizi");

        let startTime, endTime;

        baslatbutton.addEventListener("click", function () {
            startTime = new Date();
        });

        finishbutton.addEventListener("click", function () {
            endTime = new Date();

            let metinIcerik = metin.textContent.trim();
            let metinArray = metinIcerik.split(/\s+/);
            let kelimeSayisi = metinArray.length;

            let gecenSure = (endTime - startTime) / 1000;
            let okumaHizi = Math.round((kelimeSayisi / gecenSure) * 60);

            okumahizi.textContent = okumaHizi + " kelime/dakika";

            sendReadingSpeedToServer(okumaHizi);
        });


    </script>
    {% endblock body %}