{% extends 'layout.html' %}


{% block head %}
<title> HOKUVEAY - Koşullar </title>
{% endblock head %}

{% block body %}
<div class="sartlar">
    <br><br><br><br><br><br><br>
    <h3>Hizmet Şartları ve Koşulları</h3>
    <br>
    <div>
        <h5>
            <strong> 1. Genel</strong>
        </h5>
        Duolingo web siteleri ("Web Siteleri"), mobil uygulamalar ("Uygulamalar") ve ilgili hizmetler (Web Siteleri
        ve Uygulamalarla birlikte "Hizmet") Duolingo, Inc. ("Duolingo", "bizi" veya " Biz"). Hizmete erişim ve
        Hizmetin kullanımı aşağıdaki Hizmet Hüküm ve Koşullarına (“Şartlar ve Koşullar”) tabidir. Hizmetin herhangi
        bir bölümüne erişerek veya Hizmetin herhangi bir bölümünü kullanarak, gelecekteki değişiklikler de dahil
        olmak üzere bu Hüküm ve Koşulları okuduğunuzu, anladığınızı ve bunlara bağlı kalmayı kabul ettiğinizi beyan
        edersiniz. Duolingo bu Hüküm ve Koşulları tadil edebilir, güncelleyebilir veya değiştirebilir. Bunu
        yaparsak, değişikliklerin yayınlanmasından sonra en az 7 gün boyunca Web Sitelerinde bu Şartlar ve
        Koşullarda değişiklik yaptığımıza dair bir bildirim yayınlayacağız ve Şartlar ve Koşulların alt kısmında bu
        şartların en son geçerli olduğu tarihi belirteceğiz revize edildi. Bu Hüküm ve Koşullarda yapılacak herhangi
        bir revizyon, (i) söz konusu 7 günlük sürenin bitiminden veya (ii) bu tür değişikliklerden sonra Hizmete ilk
        kez eriştiğinizde veya Hizmet'i ilk kullandığınızda hangisi erkense geçerli olacaktır. Bu Hüküm ve Koşullara
        uymayı kabul etmiyorsanız Hizmeti kullanma, erişme veya Hizmete katılma yetkiniz yoktur.
        <br><br>
        <em>LÜTFEN BU HÜKÜM VE KOŞULLARIN, JÜRİ YARGILAMALARI VEYA GRUP DAVALARI DEĞİL, BELİRLİ DURUMLARDA
            ANLAŞMAZLIKLARI ÇÖZMEK İÇİN BİREYSEL OLARAK TAHKİMİN KULLANILMASINI GEREKTİREN ZORUNLU BİR ANLAŞMAZLIK
            TAHKİMİ HÜKÜMÜ İÇERDİĞİNİ UNUTMAYIN. BU KOŞULLARI BURADA GÖRÜNTÜLEYİN .</em>

    </div>
    <br><br>
    <div>
        <h5><strong>2. Web Sitesi ve Hizmetin Açıklaması</strong></h5>
        Hizmet, kullanıcıların bir dil öğrenme veya pratik yapma dahil olmak üzere çeşitli eğitim hizmetlerine
        erişmesine ve bunları kullanmasına olanak tanır. Duolingo, tamamen kendi takdirine bağlı olarak ve herhangi
        bir
        zamanda Hizmetin herhangi bir yönünü geçici veya kalıcı olarak güncelleyebilir, değiştirebilir, askıya
        alabilir,
        iyileştirmeler yapabilir veya sonlandırabilir.
    </div>
    <br><br>
    <div>
        <h5><strong>3. Hizmetlerin Kabul Edilebilir Kullanımı</strong></h5>
        Hizmetleri kullanımınızdan ve hesabınızı kullanarak Hizmetlerin her türlü kullanımından siz sorumlusunuz.
        Amacımız olumlu, kullanışlı ve güvenli bir kullanıcı deneyimi yaratmaktır. Bu amacı desteklemek amacıyla
        diğer kullanıcılara veya bize zarar verebilecek belirli türdeki davranışları yasaklıyoruz. Hizmetleri
        kullandığınızda Topluluk Kurallarımıza uymalısınız .
    </div>
    <br><br>
    <div>
        <h5><strong>4. Ek koşullar</strong></h5>
        Bazı Hizmetlerimizde ek şartlar ve koşullar bulunmaktadır (“Ek Şartlar”). Bir Hizmet için Ek Koşulların
        geçerli olduğu durumlarda, bu Koşulları söz konusu Hizmeti kullanımınız boyunca okumanız için hazır
        bulunduracağız. Bu Hizmeti kullanarak Ek Koşulları kabul etmiş olursunuz.
    </div>
    <br><br>
    <div>
        <h5><strong>5. kayıt</strong></h5>
        Hizmete kaydolma ve Hizmeti kullanmayla bağlantılı olarak, (i) Duolingo tarafından talep edildiği şekilde
        siz ve/veya kuruluşunuz hakkında doğru, güncel ve eksiksiz bilgi sağlamayı; (ii) şifrenizin ve hesabınızın
        güvenliğiyle ilgili diğer bilgilerin gizliliğini korumak; (iii) Duolingo'ya sağladığınız kayıt bilgilerini
        korumak ve derhal güncellemek, bu bilgileri doğru, güncel ve eksiksiz tutmak; ve (iv) hesabınızın tüm
        kullanımından ve hesabınız aracılığıyla gerçekleştirilen tüm işlemlerden tamamen sorumlu olmayı kabul
        edersiniz.
    </div>
    <br><br>
    <div>
        <h5><strong>6. Beyanlarınız ve Garantileriniz</strong></h5>
        Hizmete erişiminizin ve Hizmeti kullanımınızın bu Hüküm ve Koşullara ve Amerika Birleşik Devletleri'nin ve
        çevrimiçi davranış veya kabul edilebilir davranışlarla ilgili olanlar da dahil olmak üzere diğer ilgili
        yargı bölgelerinin geçerli tüm yasalarına, kurallarına ve düzenlemelerine uygun olacağını Duolingo'ya beyan
        ve garanti edersiniz. içerik ve Amerika Birleşik Devletleri'nden ve/veya ikamet ettiğiniz yargı bölgesinden
        ihraç edilen veri veya bilgilerin iletimi ile ilgili olanlar. Ayrıca, Hizmet aracılığıyla gönderdiğiniz
        herhangi bir materyali (Etkinlik Materyalleri ve İçerik dahil) oluşturduğunuzu veya sahibi olduğunuzu ve
        uygun olduğu şekilde, bu materyali yukarıda belirtildiği şekilde kullanmamız için bize bir lisans verme
        hakkına sahip olduğunuzu beyan ve garanti edersiniz. bu materyali aşağıda belirtildiği gibi bize devretme
        hakkı.
        <br><br>
        (1) kapsamlı ABD ekonomik veya ticari yaptırımlarının (yani ambargonun) hedefi olan bir ülke veya bölgenin
        yasalarına göre organize olmadığınızı, bu ülke veya bölgede faaliyet göstermediğinizi veya başka bir şekilde
        normalde bu ülkede ikamet etmediğinizi; (2) ABD Hazine Bakanlığı'nın Özel Olarak Belirlenmiş Vatandaşlar ve
        Engellenen Kişiler Listesi gibi yasaklanmış veya kısıtlanmış kişiler listesinde tanımlananlar; veya (3) aksi
        halde ABD yaptırımlarının hedefi.
    </div>
    <br><br>
    <div>
        <h5><strong>7. İçerik Gönderimi</strong></h5>
        Hizmetteki herhangi bir derecelendirme, inceleme, bilgi, veri, metin, fotoğraf, ses klibi, görsel-işitsel
        eser, çeviri, bilgi kartı veya diğer materyalleri (toplu olarak, "İçerik") göndermenin bir koşulu olarak,
        Duolingo'ya tam olarak - İçeriği kullanmaya, çoğaltmaya, kopyalamaya, uyarlamaya, değiştirmeye,
        birleştirmeye, dağıtmaya, kamuya açık olarak görüntülemeye ve İçerikten türev çalışmalar oluşturmaya yönelik
        ücretli, telifsiz, kalıcı, geri alınamaz, dünya çapında, münhasır olmayan, devredilebilir ve alt
        lisanslanabilir lisans; İçeriği diğer çalışmalara dahil etmek; ve İçeriğin birden fazla katmanı aracılığıyla
        alt lisansını verebilirsiniz. İçeriğiniz Hizmete gönderildikten sonra bu lisansın sizin tarafınızdan
        feshedilemeyeceğini kabul edersiniz. Tarafınızca gönderilen İçeriğin siz, Duolingo ve başkaları tarafından
        bu Şartlar ve Koşullarda açıklandığı ve başka şekilde tasarlandığı şekilde kullanılması için gerekli tüm
        yasal haklara sahip olduğunuzu veya bu hakları güvence altına aldığınızı beyan edersiniz. Diğer
        kullanıcıların İçeriğe erişebileceğini ve ne onların ne de Duolingo'nun size veya bir başkasına karşı
        İçeriğin gizliliğini koruma konusunda herhangi bir yükümlülüğünün olmadığını anlıyorsunuz.
        <br><br>
        (i) iftira niteliğinde, iftira niteliğinde, taciz edici, tehdit edici, taciz edici, nefret dolu, saldırgan
        veya başka bir şekilde herhangi bir yasayı ihlal eden veya herhangi bir üçüncü kişinin hakkını ihlal eden
        herhangi bir İçeriği yüklemeyecek, görüntülemeyecek veya Hizmet aracılığıyla başka bir şekilde
        sağlamayacaksınız. taraf (telif hakkı, ticari marka, gizlilik, tanıtım veya diğer kişisel veya mülkiyet
        hakları dahil); (ii) tamamen Duolingo'nun takdirine bağlı olarak, sakıncalı olması, başka herhangi bir
        kişinin Hizmeti kullanmasını kısıtlaması veya engellemesi veya Duolingo'yu veya kullanıcılarını herhangi bir
        zarara veya yükümlülüğe maruz bırakması; veya (iii) Duolingo'nun Topluluk Kurallarını ihlal ediyor .
    </div>
    <br><br>
    <div>
        <h5><strong>8. Uygulama Lisansı</strong></h5>
        Bu Hüküm ve Koşulların şartlarına tabi olarak, Duolingo size her Uygulamanın bir kopyasını nesne kodu
        biçiminde yalnızca sahip olduğunuz veya kontrol ettiğiniz etkileşimli bir kablosuz cihaza indirmeniz,
        kurmanız ve kullanmanız için devredilemez, münhasır olmayan bir lisans verir. Herhangi bir Uygulamanın
        tamamının veya herhangi bir kısmının kaynak kodunu türetemez veya türetmeye çalışamazsınız, herhangi bir
        üçüncü tarafın bu tür kaynak kodunu türetmesine veya türetmeye çalışmasına izin veremezsiniz veya herhangi
        bir Uygulamaya veya herhangi bir kısmına ters mühendislik uygulayamaz, kaynak koda dönüştüremez, parçalara
        ayıramaz veya tercüme edemezsiniz. . Duolingo ve onun lisansörleri, Uygulamalardaki tüm fikri mülkiyet
        haklarına ve diğer haklara ve bunlara ilişkin her türlü değişiklik, tadil veya düzeltmenin sahibidir ve
        bunları elinde tutacaktır. Aşağıdaki şartlar ve koşullar yalnızca Apple App Store'daki Uygulamaları
        kullanıyorsanız sizin için geçerlidir. Bu Hüküm ve Koşulların diğer hüküm ve koşullarının, bu paragrafın
        hüküm ve koşullarından daha az kısıtlayıcı olduğu veya bunlarla başka bir şekilde çeliştiği ölçüde, bu
        paragrafta yer alan daha kısıtlayıcı veya çelişkili hüküm ve koşullar geçerlidir, ancak yalnızca
        Uygulamalarla ilgili olarak Apple App Store'dan. Bu Hüküm ve Koşulların Apple değil, yalnızca sizinle
        Duolingo arasında olduğunu ve Apple'ın Uygulamalar veya bunların içeriği konusunda hiçbir sorumluluğunun
        olmadığını onaylıyor ve kabul ediyorsunuz. Herhangi bir Uygulamayı kullanımınız, App Store Hizmet
        Koşullarına uygun olmalıdır. Apple'ın Uygulamalara ilişkin herhangi bir bakım ve destek hizmeti sağlama
        konusunda hiçbir yükümlülüğünün olmadığını kabul edersiniz. Herhangi bir Uygulamanın geçerli herhangi bir
        garantiye uymaması durumunda, bunu Apple'a bildirebilirsiniz; Apple, varsa Uygulamanın satın alma fiyatını
        size iade edecektir; Yürürlükteki yasaların izin verdiği azami ölçüde, Apple'ın Uygulamalara ilişkin başka
        hiçbir garanti yükümlülüğü olmayacak ve herhangi bir garantiye uyulmamasına atfedilebilecek diğer tüm
        talepler, kayıplar, yükümlülükler, hasarlar, maliyetler veya harcamalar yalnızca yönetilecektir. bu Şartlar
        ve Koşullar uyarınca. Siz ve Duolingo, Apple'ın, aşağıdakiler dahil ancak bunlarla sınırlı olmamak üzere,
        Uygulamalara veya herhangi bir Uygulamaya sahip olmanıza ve/veya kullanımınıza ilişkin sizin veya herhangi
        bir üçüncü tarafın herhangi bir iddiasını ele almaktan sorumlu olmadığını kabul edersiniz: (i) ürün
        sorumluluğu iddiaları; (ii) bir Uygulamanın yürürlükteki herhangi bir yasal veya düzenleyici gereksinime
        uymadığına ilişkin herhangi bir iddia; ve (iii) tüketicinin korunması veya benzer mevzuat kapsamında ortaya
        çıkan talepler. Siz ve Duolingo, herhangi bir Uygulamanın veya bu Uygulamaya sahip olmanızın ve bu
        Uygulamayı kullanmanızın üçüncü tarafın fikri mülkiyet haklarını ihlal ettiğine dair herhangi bir üçüncü
        taraf iddiası durumunda soruşturma, savunma ve uzlaşmadan yalnızca Apple'ın değil Duolingo'nun sorumlu
        olacağını kabul edersiniz. ve bu tür fikri mülkiyet ihlali iddialarının bu Hüküm ve Koşulların gerektirdiği
        ölçüde yerine getirilmesi. Herhangi bir Uygulamayı kullanırken geçerli üçüncü taraf sözleşme şartlarına
        uymalısınız. Siz ve Duolingo, Apple'ın ve Apple'ın yan kuruluşlarının,
    </div>
    <br><br>
    <div>
        <h5><strong>9. Uygulama içi satın alma işlemleri</strong></h5>
        Hizmet aracılığıyla otomatik olarak yenilenen periyodik bir abonelik satın alırsanız, aşağıda belirtildiği
        gibi siz aboneliği sonlandırıncaya kadar Duolingo hesabınıza sürekli olarak faturalandırılacaktır. İlk
        abonelik döneminizin ardından ve sonraki herhangi bir abonelik döneminin ardından aboneliğiniz, eşdeğer bir
        ek süre için otomatik olarak yenilenecektir. Aboneliğinizin otomatik olarak yenilenmesini istemiyorsanız
        veya aboneliğinizi değiştirmek veya sonlandırmak istiyorsanız, hesabınızı silmiş olsanız bile Duolingo
        hesabınızda oturum açmanız ve aboneliğinizi sonlandırmak veya değiştirmek için talimatları izlemeniz
        gerekecektir.
        <br><br>
        Hizmette, "gerçek dünya" parasıyla sınırlı, kişisel, devredilemez, alt lisansı verilemez, iptal edilebilir
        bir lisans satın alarak (a) sanal mücevherler dahil ancak bunlarla sınırlı olmamak üzere "sanal para
        birimini" yalnızca aşağıdakiler için kullanabilirsiniz: Hizmette kullanım ve (b) "sanal uygulama içi öğeler"
        ("sanal para birimi", "Sanal Öğeler" ile birlikte). Sanal Öğeleri Hizmet aracılığıyla satın almanıza izin
        verilir; başka hiçbir şekilde satın almanıza izin verilmez.
        <br><br>
        Duolingo, Sanal Öğeleri önceden bildirimde bulunarak veya bulunmaksızın herhangi bir zamanda yönetebilir,
        düzenleyebilir, kontrol edebilir, değiştirebilir veya ortadan kaldırabilir. Duolingo, tamamen kendi
        takdirine bağlı olarak Sanal Öğelerin fiyatlandırmasını istediği zaman güncelleyebilir ve ek ücretler
        karşılığında yeni Sanal Öğeler ekleyebilir. Duolingo'nun bu tür hakları kullanması durumunda Duolingo'nun
        size veya herhangi bir üçüncü tarafa karşı hiçbir sorumluluğu olmayacaktır.
        <br><br>
        Hizmette açıkça izin verilmediği sürece Sanal Öğelerin devri yasaktır. Hizmette açıkça yetki verilmedikçe,
        Sanal Öğeleri Şirket, başka bir kullanıcı veya herhangi bir üçüncü taraf dahil ancak bunlarla sınırlı
        olmamak üzere hiçbir kişiye veya kuruluşa satmayacak, kullanmayacak veya başka bir şekilde
        devredemeyeceksiniz.
        <br><br>
        Sizin veya size kayıtlı bir Duolingo hesabı kullanan herhangi birinin maruz kaldığı tüm ücretleri ve geçerli
        vergileri ödemeyi kabul edersiniz. Duolingo, Hizmet aracılığıyla sunulan mal ve hizmetlerin
        fiyatlandırmasını istediği zaman değiştirebilir. Hizmetle yapılan bir satın alma veya işlem ya da diğer
        parasal işlem etkileşimiyle bağlantılı olarak sağladığınız tüm bilgiler doğru, eksiksiz ve güncel olmalıdır.
        Kredi kartınızın, banka kartınızın veya Hizmetle yapılan bir satın alma işlemiyle veya işlemle veya diğer
        parasal işlem etkileşimiyle bağlantılı olarak kullanılan diğer ödeme yönteminin kullanıcılarının maruz
        kaldığı tüm ücretleri, söz konusu ücretlerin oluştuğu tarihte geçerli olan fiyatlar üzerinden ödemeyi kabul
        edersiniz. Bu tür satın almalar, işlemler veya diğer parasal işlem etkileşimleriyle ilgili varsa geçerli tüm
        vergileri ödeyeceksiniz.
    </div>
    <br><br>
    <div>
        <h5><strong>10. Ödeme İşleyicileri</strong></h5>
        Hizmetle bağlantılı olarak gerçekleştirilen tüm mali işlemler, ilgili kullanım şartlarına, gizlilik
        politikasına ve/veya geçerli ödeme şartlarına ve koşullarına uygun olarak üçüncü bir tarafça
        gerçekleştirilecektir. Söz konusu üçüncü tarafların uygulamaları hakkında bilgi edinmenizi öneririz.
        Duolingo, sistem kesintisi veya ödeme hizmeti kesintileri dahil ancak bunlarla sınırlı olmamak üzere,
        herhangi bir üçüncü taraf ödeme işlemcisinin eylemlerinden veya eylemsizliklerinden hiçbir durumda sorumlu
        olmayacaktır.
    </div>
    <br><br>
    <div>
        <h5><strong>11. Geri ödeme politikası</strong></h5>
        Tüm ödemeler iade edilmez. Sanal Öğeler veya kısmen kullanılan üyelik dönemleri için geri ödeme veya kredi
        yapılmaz. Ancak Duolingo, tamamen kendi takdirimize bağlı olarak, duruma göre para iadesi veya kredi
        verebilir. Duolingo'nun bir kereliğine para iadesi veya kredi vermesi, Duolingo'nun hiçbir koşulda gelecekte
        para iadesi veya kredi vermesini zorunlu kılmaz. Ücretli bir Duolingo hizmetine olan periyodik aboneliğinizi
        iptal ederseniz, mevcut fatura döneminizin sonuna kadar hizmete erişmeye devam edeceksiniz.
    </div>
    <br><br>
    <div>
        <h5><strong>12. Üçüncü Taraf Bağlantıları, Siteleri ve Hizmetleri</strong></h5>
        Hizmet, Duolingo'nun sahibi olmadığı veya kontrol etmediği üçüncü taraf web sitelerine, reklam verenlere,
        hizmetlere, özel tekliflere veya diğer etkinlik veya faaliyetlere bağlantılar içerebilir. Bu tür üçüncü
        taraf sitelerini, bilgilerini, materyallerini, ürünlerini veya hizmetlerini onaylamıyor veya bunlarla ilgili
        herhangi bir sorumluluk kabul etmiyoruz. Duolingo'dan herhangi bir üçüncü taraf web sitesine, hizmetine veya
        içeriğine erişirseniz, bu Hüküm ve Koşullar ile Gizlilik Politikamızın bu siteleri kullanımınız için geçerli
        olmadığını anlıyorsunuz. Duolingo'nun, herhangi bir üçüncü taraf web sitesini, hizmetini veya içeriğini
        kullanımınızdan kaynaklanan hiçbir zarar veya kayıptan doğrudan veya dolaylı olarak sorumlu veya yükümlü
        olmayacağını açıkça beyan ve kabul ediyorsunuz.
        <br><br>
        Hizmet, İçeriğe veya Hizmete ilişkin bilgilere veya diğer bilgilere yönelik olabilecek reklamlar içerebilir.
        Duolingo'nun Hizmet üzerindeki reklamlarının türleri ve kapsamı değişebilir. Duolingo'nun size Hizmete
        erişim ve kullanım hakkı vermesi karşılığında, Duolingo ve onun üçüncü taraf sağlayıcıları ve ortaklarının
        bu tür reklamları sizin veya başkaları tarafından gönderilen içerik veya bilgilerin görüntülenmesiyle
        bağlantılı olarak yerleştirebileceğini kabul edersiniz.
    </div>
    <br><br>
    <div>
        <h5><strong>13. Zarar Türlerinin Sınıfandırılması/Sorumluluk Sınıflandırılması</strong></h5>
        GEÇERLİ YASALARIN İZİN VERDİĞİ AZAMİ ÖLÇÜDE, DUOLINGO HİÇBİR DURUMDA SİZE VEYA SİZİN ÜZERİNİZDEN İDDİA EDEN
        HERHANGİ BİR ÜÇÜNCÜ TARAFA KARŞI DOLAYLI, ARIZİ, ÖZEL, SONUÇ OLARAK ORTAYA ÇIKAN VEYA ÖRNEK OLARAK ORTAYA
        ÇIKAN ZARARLAR İÇİN (SÖZLEŞME, HAKSIZ FİİL, KUSURSUZ SORUMLULUK VEYA DİĞER KURAMLARA DAYANARAK) SORUMLU
        OLMAYACAKTIR. HİZMETİN KULLANIM KAYBI, YANLIŞ SONUÇLAR, KÂR KAYBI, İŞ KESİNTİSİ DAHİL ANCAK BUNLARLA SINIRLI
        OLMAMAK ÜZERE, HİZMETE VEYA HERHANGİ BİR KISMINA ERİŞİMDEN VEYA KULLANIMDAN VEYA ERİŞİMİN YA DA
        KULLANILMAMASINDAN KAYNAKLANAN VEYA BUNLARLA İLİŞKİLİ OLAN HİZMETLER, VEYA VERİ KAYBI VEYA BOZULMASINDAN YA
        DA VERİLERİN YANLIŞ HALE GETİRİLMESİNDEN KAYNAKLANAN ZARARLAR, HERHANGİ BİR VERİ KURTARMA MALİYETİ, İKALE
        HİZMET MALİYETİ VEYA DUOLINGO OLSA BİLE BİLGİSAYARLARA, YAZILIMA, MODEMLERE, TELEFONLARA VEYA DİĞER MALLARA
        VERİLECEK HERHANGİ BİR ZARAR İÇİN ÜÇÜNCÜ TARAFLAR TARAFINDAN YAPILAN İDDİALAR BU TÜR ZARARLARIN OLASILIĞI
        KONUSUNDA BİLGİLENDİRİLMİŞTİR. GEÇERLİ YASALARIN İZİN VERDİĞİ AZAMİ ÖLÇÜDE, DUOLINGO'NUN SİZE VEYA SİZİN
        ÜZERİNDEN HERHANGİ BİR NEDENLE İDDİA EDEN HERHANGİ BİR ÜÇÜNCÜ TARAFA KARŞI YÜKÜMLÜLÜĞÜ, DAVANIN ŞEKLİNE
        BAKILMAKSIZIN, VARSA TARAFINIZDAN DUOLINGO'YA ÖDENEN MİKTARLA SINIRLIDIR. SORUMLULUĞA NEDEN OLACAK İLK
        EYLEMDEN ÖNCEKİ 12 AY İÇİNDE HİZMET. BU BİR TOPLAM SINIRDIR. BURADA BİRDEN FAZLA TALEP MEVCUT OLMASI BU
        SINIRI ARTTIRMAYACAKTIR.
        <br><br>
        Fiyatlarımızı belirlediğimizi ve bu Şartlar ve Koşullar'da belirtilen, aramızdaki riski paylaştıran ve
        taraflar arasındaki pazarlığın temelini oluşturan sorumluluk sınırlamalarına dayanarak bu Şartlar ve
        Koşulları sizinle birlikte akdettiğimizi anlıyor ve kabul ediyorsunuz.
    </div>
    <br><br>
    <div>
        <h5><strong>14. Sonlandırma</strong></h5>
        Duolingo, Hizmete erişiminizi ve Hizmet kullanımınızı herhangi bir zamanda, herhangi bir nedenle derhal
        sonlandırabilir ve bu durumda artık Hizmeti kullanma hakkınız olmayacaktır. Hizmet aracılığıyla sunulan
        talimatları izleyerek Duolingo hesabınızı istediğiniz zaman sonlandırabilirsiniz. Bu Hüküm ve Koşulların 1,
        6, 8 ve 10-28. Bölümleri herhangi bir fesihten sonra da geçerliliğini koruyacaktır.
    </div>
    <br><br>
    <div>
        <h5><strong>15. Hizmet İçeriği ve Etkinlik Materyallerinin Mülkiyet Hakları </strong></h5>
        Tasarımlar, metinler, grafikler, resimler, bilgiler, yazılım, ses dosyaları ve diğer dosyalar ile bunların
        seçimi ve düzenlenmesi de dahil olmak üzere Hizmet aracılığıyla sunulan tüm içerik ("Hizmet İçeriği")
        Duolingo'nun veya lisans verenlerinin mülkiyetindedir. Hiçbir Hizmet İçeriği, bu belgede açıkça izin verilen
        durumlar dışında kısmen veya tamamen değiştirilemez, kopyalanamaz, dağıtılamaz, çerçevelenemez,
        çoğaltılamaz, yeniden yayınlanamaz, indirilemez, alıntılanamaz, görüntülenemez, yayınlanamaz, iletilemez
        veya satılamaz. Şartlar ve koşullar. Hizmet İçeriğini elde etmek için herhangi bir veri madenciliği, robot,
        kazıma veya benzeri veri toplama veya çıkarma yöntemini kullanamazsınız. Siz ve Duolingo arasında, sizin
        tarafınızdan oluşturulan çevrilmiş içerik de dahil olmak üzere, Hizmet üzerinde veya Hizmet aracılığıyla
        sunulan eğitim faaliyetlerine erişiminiz ve bunları kullanımınızdan elde edilen tüm veriler, bilgiler ve
        materyaller ("Etkinlik Materyalleri") münhasıran Duolingo'ya ait olacaktır. ve bu Hüküm ve Koşullarda açıkça
        izin verilmediği sürece bu tür Etkinlik Materyallerini kullanma hakkınız olmayacaktır. Hizmeti kullanarak,
        Etkinlik Materyallerindeki fikri mülkiyet hakları veya mülkiyet hakları da dahil olmak üzere her türlü
        hakkı, mülkiyeti ve menfaati Duolingo'ya devretmiş olursunuz. Duolingo'nun veya onun lisans verenlerinin bu
        Hüküm ve Koşullarda açıkça belirtilmeyen tüm hakları Duolingo ve onun lisans verenlerine aittir.
    </div>
    <br><br>
    <div>
        <h5><strong>16. Ticari markalar</strong> </h5>
        Hizmetle bağlantılı olarak kullanılan "Duolingo" ve diğer tüm ticari markalar, hizmet markaları,
        grafikler ve logolar, Duolingo'nun veya ilgili sahiplerinin ticari markaları veya hizmet markalarıdır ve
        bunların bazıları Amerika Birleşik Devletleri Patent ve Ticari Marka Ofisi'nde veya diğer ticari
        markalarda kayıtlıdır. yetkililer. Hizmete erişim ve Hizmetin kullanımı size Duolingo adını veya
        herhangi bir Duolingo veya üçüncü taraf ticari markasını, hizmet markasını, grafiğini veya logosunu
        çoğaltma veya başka şekilde kullanma hakkını veya lisansını vermez veya sağlamaz.
    </div>
    <br><br>
    <div>
        <h5><strong>17. Mahremiyet</strong></h5>
        Hizmetin kullanımı ayrıca bir kopyası www.duolingo.com/privacy adresinde bulunan Gizlilik Politikamıza
        tabidir . Hizmeti kullanarak Gizlilik Politikasının şartlarını kabul etmiş olursunuz
    </div>
    <br><br>
    <div>
        <h5><strong>18. Geçerli Hukuk</strong></h5>
        Bu Şartlar ve Koşullar, menşe ülkeniz veya Hizmete nereden eriştiğinize bakılmaksızın, herhangi bir kanun
        ihtilafı hükümleri hariç olmak üzere, Amerika Birleşik Devletleri'nin Pensilvanya Eyaleti kanunlarına göre
        yönetilecek ve yorumlanacaktır.
    </div>
    <br><br>
    <div>
        <h5><strong>19. Çeşitli</strong></h5>
        Bu Şartlar ve Koşullar, Duolingo ile sizin aranızdaki konuyla ilgili anlaşmanın tamamını oluşturur. Hüküm ve
        Koşullardan herhangi birinin bir mahkeme veya yargı yetkisine sahip başka bir mahkeme tarafından uygulanamaz
        olduğuna karar verilmesi durumunda, bu hükümler, bu Hüküm ve Koşulların aksi takdirde tam olarak yürürlükte
        kalması için gereken minimum ölçüde sınırlandırılacak veya ortadan kaldırılacaktır. etki. Duolingo'nun veya
        sizin bu Hüküm ve Koşulların herhangi bir hükmünden veya bunların herhangi bir ihlalinden feragat etmesi,
        söz konusu hüküm veya koşuldan veya bunların daha sonraki herhangi bir ihlalinden feragat anlamına gelmez.
        Duolingo, bu Hüküm ve Koşullar kapsamındaki haklarını veya yükümlülüklerini koşulsuz olarak devredebilir. Bu
        Şartlar ve Koşullar Duolingo ve sizin, Duolingo'nun ve ilgili halefleriniz ve izin verilen atamalarınız için
        bağlayıcı olacak ve onların yararına geçerli olacaktır.
        <br>
    </div>
    <br>
</div>
<br>



<style>
    nav.navbar {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        /* Örnek bir genişlik, ihtiyacınıza göre ayarlayabilirsiniz */
        margin: 0 auto;
    }

    #baslabutton {
        color: white;
        font-weight: 600;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 15px;
    }

    nav {
        z-index: 1000;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .sartlar {
        margin: auto;
        width: 70%;
    }
</style>

<div class="container-fluid">
{% endblock body %}