{% extends 'layout.html' %}

{% block head %}
<title> HOKUVEAY - Kurallar </title>
{% endblock head %}

{% block body %}
<br><br><br><br>
<div class="toplulukkurallari">
    <br><br><br>
    <h3>TOPLULUK KURALLARI</h3>
    <br>
    <div>
        <h5>HOKUVEAY BİR HIZLI OKUMA TOPLULUĞUDUR</h5>
        Biz herkesin bedava dil öğretimine ulaşabilmesi gerektiğine inanıyoruz. Kılavuzumuz da, bu toplumun bir
        parçası olmanın nasıl bir şey olduğunu ifade eden karşılıklı bir anlayışı yaratmak amacıyla yazılmıştır.
        Eğer bu kılavuza uyulmaz ise gerekli adımları atmak zorunda kalırız, bu yüzden lütfen dikkatlice okuyun.
    </div>
    <br>
    <div>
        <h5>HER ZAMAN SAYGILI OLUN</h5>
        Bizler dünyanın dört bir tarafından farklı dil beceriyle tek bir hedef için bir araya geliyoruz--öğrenmek
        için. Merak, sorgulama, ve kültürel anlayış, bunlar hepimizin memnuniyetle karşıladıkları şeyler.
        Başkalarının düşüncelerine ve temsil ettikleri fikirlere saygı duyalım.
    </div>
    <br>
    <div>
        <h5>BÜTÜN BECERİ SEVİYELERİ BOYUNCA DESTEK VE YARDIM EDİN</h5>
        Biz burada hep beraberiz. Dil öğrenmek zordur ve fazlasıyla cesaret ve kendini adama gerektirir. Eğer birisi
        yanlış dilbilgisi kullanıyorsa ya da bariz bir cevabı olduğunu düşündüğünüz bir soru soruyorsa, onlara sakin
        ve kibarca yardım edin. Sıkıştırmak ve acımasızca davranmak kimsenin öğrenmesine yardımcı olamaz. İyi bir
        şekilde söyleyemiyor musunuz? O zaman hiç söylemeyin.
    </div>
    <br>
    <div>
        <h5>BÖLGESEL DİL FARKLILIKLARINI BENİMSEYİP PAYLAŞIN</h5>
        Bir dilde, herhangi bir şeyi söylemek için pek çok farklı sözcük, aksan ya da söyleme şekli kullanılabilir.
        Bize göre bu, dillerin mucizelerinden biri. Bu tip konuşmalara karşı açık fikirli bir tutum gösterin.
    </div>
    <br>
    <div>
        <h5>PAYLAŞMADAN ÖNCE DÜŞÜN</h5>
        Güvenliğini çok önemsiyoruz. Başka bir dilde konuşmak haliyle sosyal bir eylem, ancak, kötüye
        kullanılabilecek özel bilgileri alıp vermekten ve yayınlamaktan lütfen kaçın. Gizliliğini riske atabilecek
        özel bilgiler; telefon numaranı, yaşını, adresini, evde olduğun zamanları, okul adını, e-posta adresini ve
        diğer kişisel bilgileri içerir. Çözümü basit: fazla bilgi paylaşma. Kişisel verileri paylaşmak ve
        başkalarını paylaşmaya teşvik etmek, mesajınızın ve büyük olasılıkla hesabınızın kapatılmasına neden
        olabilir.
    </div>
    <br><br>
    <hr style="height: 1px; background-color: rgba(20, 20, 20, 0.527);">
    <br><br>
    <div>
        <h2>Lütfen HOKUVEAY'ı şunlar için kullanmayın:</h2>
    </div>
    <br><br>
    <div>
        <h5>Bir kişiye veya gruba sözlü ve fiili saldırı</h5>
        Duolingo, kişisel arka planı ne olursa olsun, her öğrenci için güvenli bir yerdir. Rahatsız edici ve kırıcı
        içeriğe tolerans gösterilmez. Nefret körükleyen simgeler, adlar ve yazıların kullanımı, herhangi birini
        taciz veya takip etmek, cinsel içerikle hitap etmek kötüye kullanım olarak değerlendirilir. Aynı şey
        çıplaklık ve rahatsız edici profil resimleri ve kullanıcı adları için de geçerli. Koşullarda belirtildiği
        gibi, Duolingo resimleri değiştirme veya bu tür hesapları istediği gibi kapatma hakkını saklı tutar. Genel
        kural: Birini saldırıya uğramış veya incinmiş hissettirirseniz, bunu yapmamanız gerekir. Bu raporları çok
        ciddiye alıyoruz. Ekibimiz bu tür bir hareket yaptığınızı doğrularsa hesabınız silinecek.
    </div>
    <br>
    <div>
        <h5>Kötü amaçlı yazı ve hile</h5>
        Duolingo dürüst öğrenime inanır. Aldatma amacıyla yazıyorsan veya Duolingo'nun kullanımı hakkındaki bilgi ve
        talimatları paylaşma amacın sistemi, topluluğu, öğrenimi, verileri veya kullanımı olumsuz ya da dikkat
        çekici bir şekilde etkilemekse hesabın ve yazıların kaldırılabilir.
    </div>
    <br>
    <div>
        <h5>TAHRİK EDİCİ YORUMLAR YAZMAK İÇİN</h5>
        Nefret dolu, müstehcen ya da konuyla alakasız yorumlar dil öğrenmeye katkıda bulunmazlar. Aynı durum
        küfürler için de geçerlidir. Bırakın insanlar bu sözcükleri gerçek dünyada öğrensinler. Bu tip içerikleri
        dil tartışmalarından uzak tutun.
    </div>
    <br>
    <div>
        <h5>ÖZETLE</h5>
        Şu içeriklere karşı hoşgörümüz yok:
        <ul>
            <li>İllegal (yasal olmayan) içeriklere</li>
            <li>Pornografik içeriklere</li>
            <li>Fazlasıyla saygısızca ve şiddet dolu içerikler </li>
            <li> Spam (gereksiz, alakasız, istenmeyen) içeriklere </li>
            <li> Tehdide, tacize ve zorbalığa</li>
            <li> Irkçılık ve hoşgörüsüzlükle ile ilgili şeylere </li>
            <li>Göz boyayarak, aldatıcı ve yanıltıcı bir şekilde başka birisini taklit etmeye </li>
            <li>Kimlik numarası, ehliyet numarası, telefon numarası, ev adresi gibi kişisel bilgilerin
                paylaşılmasına </li>
        </ul>
        <br>
        Lütfen zamanınızı bir boşluk, mazeret arayarak harcamayın; Bu topluluk kurallarının ruhunu bozan her içeriği
        kaldıracağız ve Duolingo'ya olan erişiminizi uyarılmadan kısmen ya da tamamen kaybedebilirsiniz. Bu topluluk
        kurallarına uyarak, hepimiz ilgi çekici ve faydalı bir öğrenme topluluğuna katkıda bulunacağız.
    </div>
    <br><br>

</div>




<style>
    nav.navbar {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        /* Örnek bir genişlik, ihtiyacınıza göre ayarlayabilirsiniz */
        margin: 0 auto;
    }

    #baslabutton {
        color: white;
        font-weight: 600;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 15px;
    }

    nav {
        z-index: 1000;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .toplulukkurallari {
        margin: auto;
        width: 70%;
    }
</style>

<div class="container-fluid">
{% endblock body %}