{% extends 'layout.html' %}

{% block head %}
<title> HOKUVEAY - Misyonumuz </title>
{% endblock head %}

{% block body %}

<br><br><br><br>
    <div class="mission">

        <br>
        <h3><strong>MİSYONUMUZ</strong></h3>
        <br>
    </div>
    <br><br>
    <div class="ikincimission container">
        <div style="margin-left: 10px;">

            Hız, Okuma, Kavrama, Verimlilik
            <br><br>

            HOKUVEAY, hızlı okuma konseptini benimseyerek bireylerin okuma yeteneklerini geliştirmeye odaklanan bir
            eğitim platformudur. Misyonumuz, kullanıcılarımızın bilgiye daha hızlı erişmelerini, derinlemesine
            anlamalarını ve hayatlarına değer katan bilgileri daha etkili bir şekilde kullanmalarını sağlamaktır.
            <br><br>
            <h5><strong>Temel Değerlerimiz:</strong></h5>
            <br><br>

            <strong>Hızlı ve Etkili Öğrenme:</strong>
            <br><br>

            Kullanıcılarımıza hızlı okuma teknikleri ile bilgi akışını kontrol etmeyi ve hızla öğrenmeyi öğretiyoruz.
            <br><br>
            <strong>Bireysel İlerleme:</strong>
            <br><br>

            Her bireyin öğrenme hızı farklıdır. HOKUVEAY, kullanıcılara kendi öğrenme hızlarına uygun bir deneyim
            sunarak bireysel ilerlemeyi destekler.
            <br><br>
            <strong>Teknoloji ve İnovasyon:</strong>
            <br><br>

            En son teknolojileri kullanarak, hızlı okuma yöntemlerini modern bir platformda entegre ediyoruz. Sürekli
            olarak yenilikçi çözümler geliştirme amacımızla öncü oluyoruz.
            <br><br>
            <strong> Bilgiye Adil Erişim:</strong>
            <br><br>

            HOKUVEAY, bilgiye erişimde eşitliği savunur ve kullanıcılarına her yerden, her zaman ulaşılabilir bir
            öğrenme deneyimi sunar.
            <br><br>
            <strong>Topluluk ve İşbirliği:</strong>
            <br><br>

            Kullanıcı topluluğumuzun gücünü ve çeşitliliğini kutluyor, birbirimize destek olmayı teşvik ediyoruz.
            <br><br>
            <strong> Vizyonumuz:</strong>
            <br><br>
            HOKUVEAY, dünya genelinde bireylerin öğrenme potansiyelini artırarak bilgi çağında daha bilgili, daha etkili
            ve daha güçlü bir toplum yaratmayı hedefler.
            <br><br>
        </div>

    </div>
    <br><br><br>

    <div class="container-fluid">


    <style>

        .mission {
            margin: auto;
            text-align: center;
        }

        .ikincimission {
            border-radius: 7px;
            margin: auto;

        }
    </style>

{% endblock body %}