{% extends 'layout.html' %}

{% block head %}
<title> HOKUVEAY - SSS </title>
{% endblock head %}

{% block body %}
<br><br><br><br><br>
    <div class="sss">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Genel Sorular
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        <strong>HOKUVEAY Nedir?</strong>
                        <br><br>
                        HOKUVEAY, hızlı okuma konseptini benimseyerek bireylerin okuma yeteneklerini geliştirmeye
                        odaklanan bir eğitim platformudur. Misyonumuz, kullanıcılarımızın bilgiye daha hızlı
                        erişmelerini, derinlemesine anlamalarını ve hayatlarına değer katan bilgileri daha etkili bir
                        şekilde kullanmalarını sağlamaktır.
                        <br><br>
                        <strong>HOKUVEAY İle Akıcı Ve Hızlı Birşekilde Konuşabilirmiyim?</strong>
                        <br><br>
                        Evet okuyabilirsiniz zaten bunun için var :)
                        <br><br>
                        <strong>HOKUVEAY`ı desteklemek için reklam engelleyicimi nasıl kapatırım?</strong>
                        Tarayıcınızın sağ üst köşesindeki uzantılar simgesine bastıktan sonra reklam engelleyicinizin
                        yan tarafındaki üç noktaya bastıktan sonra crome`dan kaldır seçeneğine basarak yapabilirsiniz.
                        Böylece diğer emek veren kardeşlerimizi de bizim çektiğimiz zahmetten kurtarırsınız.

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Hesap

                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <strong>Aynı eposta adresiyle birden fazla hesap yaratabilir miyim?</strong>
                        <br><br>
                        Hayır yapamazsınız.
                        <br><br>
                        <strong>Nasıl Kaydolurum Ve Giriş Yaparım?</strong>
                        <br><br>
                        Eğer anasayfadak başla tuşuna basarsanız kayıt zaten bir hesabım var tuşuna basarsanız giriş
                        sayfasına yönlendirilirsiniz.
                        <br><br>
                        <strong>Nasıl Hesabımı Doğrularım?</strong>
                        <br><br>
                        Kayıt olduktan sonra mail adresinize bir link gelir link e tıkladığınız zaman hesabınız
                        doğrulanır. Eğer hesabınızı doğrulamazsanız giriş ypamazsınız.
                        <br><br>
                        <strong>Parolamı nasıl sıfırlarım?</strong>
                        <br><br>
                        Ayarlar bölümünde ki parola sıfılama seçeneğine tıkladıktan sonra e-postanıza bir link gelir
                        link e tıklayarak parolanızı sıfırlayabilirsiniz.
                        <br></br>
                        <strong>Hesabımı Nasıl Silenilirim?</strong>
                        <br><br>
                        Ayarlar bölümüne geldikten sonra hesabımı sil seçeneğine tıklayarak silebilirsiniz.
                        <br><br>
                        <strong>Kullanıcı Adım Nedir?</strong>
                        <br><br>
                        Kullanıcı adınız eşsiz olmalıdır. Kullanıcı adında özel karakterler veya boşluk olmamalıdır.
                        Bazen yeni bir hesap yaratırken otomatik olarak belirlenebilir. Bir kullanıcı adı belirlemek
                        için aşağıdaki adımları takip edin.
                        <br><br>

                        <u>Web sitesinde:</u>
                        <br><br>

                        Hesabınıza giriş yaptığınızda, fotoğrafınıza tıklayın ve "Profil" veya "Ayarlar" bölümünü seçin.
                        Bunlardan herhangi birisi kullanıcı adınızı gösterecektir. Ayrıca kullanıcı adınızı Hesap
                        Ayarları bölümünden de değiştirebilirsiniz.

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            HOKUVEAY`ın Kullanımı
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur repudiandae sequi eveniet
                        saepe placeat tempore, maxime explicabo soluta laborum eius facere incidunt quas, consequuntur
                        assumenda dolorem perferendis harum sint doloribus enim quaerat pariatur libero porro!
                        Voluptatem reprehenderit autem veritatis soluta optio hic expedita minus consectetur? Fugiat
                        tempora quo illo deleniti laborum architecto vero. Inventore placeat atque, quo nobis esse
                        voluptates.
                    </div>
                </div>
            </div>

        </div>
        <br><br>


    </div>
    

    <div class="container-fluid">


    <style>
        .sss {
            margin: auto;
            width: 60%;
        }

        .search {
            margin: auto;
            width: 60%;
        }

        .btn {
            margin-right: 15px;
        }
    </style>

{% endblock body %}